<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titanic predictor</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mvp.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="{% static 'logo.png' %}" height="70"></a>
            <ul>
                <li>HTML form</li>
                <li><a href="#">REST API</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </nav>
        <h1>Will they <u>survive</u>?</h1>
        <p>Enter the details of a made up person on the titanic voyage</p>
        <p>We will predict whether or not they would've survived</p>
        <br>
    </header>

    <section>
        <form action="{% url 'result' %}">
            {% csrf_token %}
            {% if error_msg %}<p class="error">{{ error_msg }}</p>{% endif %}
            <label for="pclass">Ticket class:</label>
            <select name="pclass" id="pclass" >
                <option value="1">1st class</option>
                <option value="2">2nd class</option>
                <option value="3">3rd class</option>
            </select>
            <label for="sex">Sex:</label>
            <select name="sex" id="sex" >
                <option value="0">Male</option>
                <option value="1">Female</option>
            </select>
            <label for="age">Age:</label>
            <input type="text" id="age" name="age" size="1">
            <label for="sibsp"># of siblings/spouses:</label>
            <input type="text" id="sibsp" name="sibsp" size="1">
            <label for="parch"># of parents/children:</label>
            <input type="text" id="parch" name="parch" size="1">
            <label for="fare">Fare:</label>
            <input type="text" id="fare" name="fare" size="1">
            <label for="embarked">Embarked:</label>
            <select name="embarked" id="embarked">
                <option value="0">Southampton</option>
                <option value="1">Cherbourg</option>
                <option value="2">Queenstown</option>
            </select>
            <label for="title">Title:</label>
            <select name="title" id="title">
                <option value="0">Mr</option>
                <option value="1">Miss</option>
                <option value="2">Mrs</option>
                <option value="3">Master</option>
                <option value="4">Dr</option>
                <option value="5">Rev</option>
                <option value="6">Officer</option>
                <option value="7">Royalty</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </section>
    {% comment %} <script type="text/javascript" src={% static 'main.js' %}></script> {% endcomment %}
</body>
</html>